.transactionContainer {
  width: 600px;
  height: 84vh;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ноутбуки: от var(--breakpoint-md) до var(--breakpoint-lg) */
@media (min-width: 768px) and (max-width: 1440px) {
  .transactionContainer {
    margin-top: 0px;
    height: 82vh;
    width: 400px;
  }
}

.tagContainer {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
  
.transactionList {
  width: calc(100% - 10px);
  height: calc(100% - 20px);
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
.transactionBlock {
  width: 100%;
  min-height: 70px;
  background-color: var(--gray);
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.transactionElement {
  flex: 0.7;
  gap: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.transactionTitle {
  text-align: left;
}

.transactionPrice {
  font-size: 1.2rem;
  text-align: right;
  flex: 1;
}

.transactionList::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.transactionList::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 10px;
}

.transactionList::-webkit-scrollbar-track {
  background-color: #e9ecef;
  border-radius: 10px;
}

.transactionListDate {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.date {
  text-align: center;
}

.tagBlock{
  display: flex;
  gap: 5px;
}