.group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.labelContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    justify-items: center;
}
.controllerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr;
    justify-items: center;
    align-items: center;
}
.controller {
    text-align: center;
    width: 40%;
}

.ctext-button{
    color: white !important;
}