.roundedCarousel {
	width: 375px;
	height: 375px;
	border-radius: 25px;
	background-color: #f8f9fa; /* Светлый фон */
	overflow: hidden; /* Скрываем переполнение */
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
	margin: 20px; /* Центрирование карусели */
}

.carouselItemCustom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 20px;
	text-align: center; /* Центрирование текста */
}

.carouselTitle {
	font-size: 1.5rem;
	margin-top: 10px;
}

.divider {
	width: 100%;
	border-top: 1px solid #000;
	margin: 10px 0;
}

.carouselContent p {
	font-size: 1rem;
	margin-bottom: 10px;
}
  