.modal-content {
  padding: 20px;
}

.form-control {
  margin-bottom: 15px;
}

button[type="submit"] {
  width: 100%;
}

.toggle-text {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  color: black;
}

.toggle-text p {
  margin: 0;
}

.toggle-text p:hover {
  text-decoration: underline;
}

.toggle-text strong {
  font-weight: bold;
}

.social-login-buttons {
  margin-top: 20px;
}

.social-login-buttons .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-secondary {
  color: black;
  border-color: black;
}

.btn-outline-secondary:hover {
  background-color: #cacaca;
  color: black;
  border-color: black;
}