.minicalendar-container{
    display: grid;
    grid-template-columns: 7;
    row-gap: 2%;
    column-gap: 2%;
    padding-top: 10px;
}
.minicalendar-legend{
    display: grid;
    grid-template-columns: 7;
    column-gap: 2%;
}
.minicalendar-legend h1 {
    width: 40px;
    text-align: center;
}
.smoke{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 25px;
}
