.minicalendar-container{
    display: grid;
    grid-template-columns: 7;
    row-gap: 2%;
    column-gap: 2%;
    margin-left: 500px;
    width: 22%;
}
.smoke{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 50px;
}
