.background {
  --size: 30px;
  --line: color-mix(in lch, canvasText, transparent 85%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: radial-gradient(4px 4px at 50% 50%, var(--line) 2px, transparent 2px var(--size)) 50% 50% / var(--size) var(--size);
  mask: linear-gradient(-25deg, transparent 30%, #777777);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: 0;
}

.page-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh !important;
}

.grid-container{
  padding: 20px;
}