/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/features/statistic/Statistic.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Statistic_achievementsContainer__mszON {
  width: 375px;
  height: 375px;
  border-radius: 25px;
  background-color: #f8f9fa;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
  
.Statistic_achievementsList__xagkn {
  width: calc(100% - 15px);
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
  
.Statistic_achievementBlock__fMIgh {
  width: 100%;
  min-height: 75px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}

.Statistic_achievementTitle__TIlyD {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.Statistic_achievementValue__YTJgT {
  font-size: 1rem; /* Уменьшенный размер шрифта */
  color: #6c757d;
  text-align: center;
  flex: 1;
}

/* Стили для полосы прокрутки */
.Statistic_achievementsList__xagkn::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.Statistic_achievementsList__xagkn::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 10px;
}

.Statistic_achievementsList__xagkn::-webkit-scrollbar-track {
  background-color: #e9ecef;
  border-radius: 10px;
}
  
/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/widgets/calendar/Calendar.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.Calendar_calendarContainer__LxTk1 {
    width: 375px;
    height: 375px;
    border-radius: 25px;
    background-color: #f8f9fa;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }
  
  .Calendar_calendarHeader__b_iBS {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .Calendar_prevButton__9KRNz, .Calendar_nextButton__QoaaQ {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    filter: brightness(0.5);
  }
  
  .Calendar_prevButton__9KRNz:hover, .Calendar_nextButton__QoaaQ:hover {
    filter: brightness(0.8);
  }
  
  .Calendar_calendarTitle__od_HS {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .Calendar_calendarGrid__EmDJf {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .Calendar_calendarDay__ZRimX {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .Calendar_calendarDay__ZRimX:hover {
    background-color: #e9ecef;
  }
  
  .Calendar_calendarDivider___jmsY {
    width: 100%;
    border-top: 1px solid #000;
    margin: 5px 0;
  }
  
  .Calendar_prevButton__9KRNz, .Calendar_nextButton__QoaaQ {
    background: none;
    border: none;
    font-size: 2.5rem; /* Увеличиваем размер шрифта для кнопок */
    cursor: pointer;
    filter: brightness(0.5);
    padding: 0 15px; /* Добавляем немного отступа для более удобного клика */
  }
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/features/subscribe/Subscribe.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Subscribe_modalContent__k8ca0 {
  padding: 20px;
}

.Subscribe_formControl__q8TeF {
  margin-bottom: 15px;
}

.Subscribe_submitButton__HfSE3 {
  width: 100%;
}

.Subscribe_modalHeader__hZpwF {
  text-align: center;
}

.Subscribe_modalTitle__Hu_o4 {
  font-size: 1.5rem;
}
  
  
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/widgets/footer/Footer.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__WK_Mx {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #dee2e642;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 0px 0px;
  position: fixed;
  top: 90%;
  bottom: 0%;
  z-index: 1;
}
  
.Footer_footerButton__5eKtK {
  display: flex  !important;
  align-items: center  !important;
  justify-content: center  !important;
  font-size: 24px  !important;
  background: transparent  !important;
  border: none  !important;
  height: 50px  !important;
  width: 50px  !important;
  transition: 1s !important;
  border-radius: 10px;
}

.Footer_footerButton__5eKtK > svg {
  height: 30px;
  width: 30px;
}

.Footer_footerButton__5eKtK:hover {
  background-color: #cacaca !important;
}

.Footer_sidebarContent__I28Fi {
  padding-left: 25px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/widgets/menu/Menu.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Menu_navLink__PajGC {
  display: block !important;
  margin: 5px !important;
  color: black !important;
  text-decoration: none !important;
  transition: 1s !important;
  border-radius: 10px !important;
}

.Menu_menuButton__UIsWn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 24px !important;
  background: transparent !important;
  border: none !important;
  height: 50px !important;
  width: 50px !important;
  transition: 1s !important;
}

.Menu_menuButton__UIsWn:hover{
  background-color: #cacaca !important;
}

.Menu_menuButton__UIsWn{
  margin-right: 60px;
}
/* Стили для ссылок при наведении */

.Menu_navLink__PajGC:hover {
  background-color: #cacaca;
  color: black;
}

.Menu_menuButton__UIsWn > svg {
  height: 25px;
  width: 25px;
}

.Menu_sidebarContent__5JVvJ {
  padding-left: 25px;
}

.Menu_link__Gd7OJ {
  display: block !important;
  color: black !important;
  text-decoration: none !important;
  transition: 1s !important;
  border-radius: 10px !important;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/widgets/notifications/Notifications.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.Notifications_notificationsButton__mcl0z {
  font-size: 24px;
  color: #000;
  background: transparent;
  border: none;
  position: relative;
}

.Notifications_notificationsButton__mcl0z .Notifications_badge__ezTfa {
  position: absolute;
  top: -10px;
  right: -10px;
}

.Notifications_listGroupItem__KAMRm {
  border: 0 !important;
  border-bottom: 1px solid #dee2e6 !important;
  padding: 15px !important;
  margin-bottom: 10px !important;
  background-color: #ffffff !important;
  display: flex !important;
  align-items: center !important;
}

.Notifications_listGroupItem__KAMRm:last-child {
  border-bottom: 0;
}

.Notifications_notificationIcon__3JSzQ {
  font-size: 30px ;
  margin-right: 15px;  
}

.Notifications_notificationContent__ViDg7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Notifications_notificationTitle__r7bhK {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 500;
}

.Notifications_notificationSubtitle__8hTGr {
  font-size: 0.875rem;
  color: #6c757d;
  margin: 0 !important;
}

.Notifications_notificationsButton__mcl0z > svg {
  height: 25px;
  width: 25px;
}

.Notifications_notificationsButton__mcl0z:hover {
  background-color: #cacaca !important;
}

.Notifications_notificationsButton__mcl0z {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 24px !important;
  background: transparent !important;
  border: none !important;
  height: 50px !important;
  width: 50px !important;
  transition: 1s !important;
}

.Notifications_notifications__TP1J3 {
  display: flex;
  align-items: center;
}
  
.Notifications_notificationsBadge__CToBJ {
  position: absolute;
  top: -10px;
  right: -10px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/features/auth/Auth.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Auth_modalContent__2zN4E {
  padding: 20px;
}
  
.Auth_formControl__Yb0lU {
  margin-bottom: 15px;
}

.Auth_submitButton__KH65M {
  width: 100%;
}

.Auth_toggleText__rfQMI {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  color: black;
}

.Auth_toggleText__rfQMI p {
  margin: 0;
}

.Auth_toggleText__rfQMI p:hover {
  text-decoration: underline;
}

.Auth_toggleText__rfQMI strong {
  font-weight: bold;
}

.Auth_oauthLoginButtons__ofVfx {
  margin-top: 20px;
}

.Auth_oauthLoginButtons__ofVfx .Auth_btn__zdr56 {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.Auth_btnOutlineSecondary__lO0Y0 {
  color: black;
  border-color: black;
}

.Auth_btnOutlineSecondary__lO0Y0:hover {
  background-color: #cacaca;
  color: black;
  border-color: black;
}

  
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/widgets/header/Header.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__9Wxwt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #dee2e642;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 1;
}
  
.Header_pageTitle__W_wRd {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  color: #343a40;
}
