.buttonModal{
    margin-top: 20px;
}

.bodyModal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: none;
}
.modalContent {
    padding: 20px;
}

.formControl {
    margin-bottom: 15px;
}

.submitButton {
    width: 100%;
}

.modalHeader {
    text-align: center;
}

.modalTitle {
    font-size: 1.5rem;
}
    