.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #dee2e642;
}

.page-title {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  color: #343a40;
}
  
.notifications {
  display: flex;
  align-items: center;
}
  
.notifications-badge {
  position: absolute;
  top: -10px;
  right: -10px;
}
  
.avatar-button {
  display: flex  !important;
  align-items: center  !important;
  justify-content: center  !important;
  font-size: 24px  !important;
  background: transparent  !important;
  border: none  !important;
  height: 50px  !important;
  width: 50px  !important;
  transition: 1s !important;
  margin-left: 10px  !important;
}

.avatar-button > svg {
  height: 30px;
  width: 30px;
}

.avatar-button:hover {
  background-color: #cacaca !important;
}

.sidebar-content {
  padding-left: 25px;
}