.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #ced4da;
  width: 100%;
  position: fixed;
  top: 0%;
  height: 90px;
  z-index: 1;
}
  
.pageTitle {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  color: #343a40;
}