.roundButton {
    border: none;
    border-radius: var(--corner-button);
    background: var(--light-gray);
    display: flex;
    place-items: center;
    justify-content: center;
    color: var(--main-text);
    padding: 0;
    /* width: var(--button-xl);
    height: var(--button-xl); */
}

/* .roundButton svg {
    width: var(--icon-xl);
    height: var(--icon-xl);
} */

/* Ноутбуки: от var(--breakpoint-md) до var(--breakpoint-lg) */
@media (min-width: 768px) and (max-width: 1440px) {
/* Стили для ноутбуков */
    /* .roundButton {
        width: var(--button-lg);
        height: var(--button-lg);
    }
    .roundButton svg {
        width: var(--icon-lg);
        height: var(--icon-lg);
    } */
}

.roundButton:hover {
    background-color: var(--gray);
    color: var(--main-text);
}

.roundButton:active, .roundButton:focus, .roundButton:focus-visible {
    background-color: var(--dark-gray) !important;
    color: var(--main-text) !important;
}

.roundButton:focus-visible {
    box-shadow: 0;
}