.nav-link {
    display: block !important;
    margin: 5px !important;
    color: black !important;
    text-decoration: none !important;
    transition: 1s !important;
    border-radius: 10px !important;
  }

.menu-button, .notifications-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 24px !important;
    background: transparent !important;
    border: none !important;
    height: 50px !important;
    width: 50px !important;
    transition: 1s !important;
}

.notifications-button:hover, .menu-button:hover{
    background-color: #cacaca !important;
}

.menu-button{
    margin-right: 60px;
}

.nav-link:hover {
    background-color: #cacaca;
    color: black;
}

.notifications-button > svg, .menu-button > svg {
    height: 25px;
    width: 25px;
}