.navLink {
  display: block !important;
  transition: 1s !important;
  background-color: var(--light-gray);
  border-radius: var(--corner-raidus) !important;
  color: var(--main-text);
  padding: 18px;
}

.navLink:hover {
  background-color: var(--gray);
  color: var(--main-text);
}

.active, .active:hover{
  background-color: var(--red);
}

.activeText > h3, .activeText > svg {
  color: var(--light-gray) !important;
}

.link {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  color: var(--main-text);
  gap: 20px;
  text-decoration: none !important;

}

.navText{
  font-family: "Inter", sans-serif; 
  font-size: 22px;
  font-weight: medium;
  margin: 0px;
  color: var(--main-text);
  line-height: 120%;
}

.navLinkBlock {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  color: var(--black);
}

.menuButton {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 24px !important;
  background: transparent !important;
  border: none !important;
  height: 50px !important;
  width: 50px !important;
  transition: 1s !important;
}

.menuButton:hover{
  background-color: #cacaca !important;
}

.menuButton{
  margin-right: 60px;
}
/* Стили для ссылок при наведении */



.menuButton > svg {
  height: 25px;
  width: 25px;
}

.sidebarContent {
  padding-left: 25px;
}

.menuBody, .menuHeader {
  background-color: var(--light-gray);
  padding: 0 30px;
}

.menuHeader{
  height: 90px;
}

.menuHeader > div {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: medium;
  font-style: normal;
  line-height: 120%;
  font-size: 24px;
}

.menuBody > div{
  overflow: scroll;
  scrollbar-width: none;
  gap: 12px;
}


.menuBody::-webkit-scrollbar{
  display: none;
}