@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

.minicalendar-day{
    width: 40px; height: 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.minicalendar-day-number {
    align-self: center;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: white;
}