.pageContainer {
    width: 100%;
    height: calc(100vh - 90px) !important;
    margin-top: 90px;
    padding-bottom: 15px;
    display: flex;
}

.combinedContainer {
    display: flex;
    flex-direction: column;
    gap: 22px;
}