.mainContainer {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1.5fr;
    grid-template-rows: auto;
    width: 54vw;
    gap: 20px;
}

.input, .submit {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 21px;
    border-radius: var(--corner-raidus);
}

.numberInput {
    text-align: center;
}

.submit {
    padding: 20px 48px;
    background-color: var(--red);
}