.mainBlock {
    margin-top: 20px;
    border-radius: var(--corner-raidus);
    background-color: var(--light-gray);
    padding: 20px;
    width: 54vw;
    height: 80vh;
    display: flex;
    gap: 22px;
    flex-direction: column;
}

.exerciseContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 25px;
    font-weight: 600;
}

.titleBlock {
    display: flex;
    justify-content: space-around;
}

.select {
    border-radius: var(--corner-raidus);
    width: 242px;
    background-color: var(--gray);
    padding: 10px 23px;
    padding-left: 30px;
    font-size: 22px;
    font-weight: 500;
    grid-column: 2;
    justify-self: center;
}

.optionsBlock {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.rightSide {
    display: flex;
    grid-column: 3;
    justify-self: end;
    padding-right: 20px;
}