.calendar-container {
  width: 375px;
  height: 375px;
  border-radius: 25px;
  background-color: #f8f9fa;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.prev-button, .next-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  filter: brightness(0.5);
}

.prev-button:hover, .next-button:hover {
  filter: brightness(0.8);
}

.calendar-title {
  font-size: 1.5rem;
  margin-top: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: left;
}

.calendar-day:hover {
  background-color: #e9ecef;
}

.calendar-divider {
  width: 100%;
  border-top: 1px solid #000;
  margin: 5px 0;
}

.prev-button, .next-button {
  background: none;
  border: none;
  font-size: 2.5rem; /* Увеличиваем размер шрифта для кнопок */
  cursor: pointer;
  filter: brightness(0.5);
  padding: 0 15px; /* Добавляем немного отступа для более удобного клика */
}