.block {
  width: 535px;
  height: 200px;
  background-color: var(--light-gray) !important;  /* Белый фон блока */
  /* border: 1px solid #ddd; */
  border-radius: var(--corner-raidus);
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
  gap: 10px;
}
.blockContent {
  display: flex;
  flex-direction: column;
  width: 495px;
}
.title {
  text-align-last: left;
}
.button {
  background-color: var(--gray);
  border: 0px;
  border-radius: var(--corner-raidus);
  width: 100px;
  height: 30px;
}
.button:hover {
  background-color: var(--dark-gray);
  color: #000;
}
.link {
  align-self: end;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .block{
    width: 380px;
    height: 180px;
    padding: 15px 30px;
  }
  .blockContent {
    width: 340px;
  }
}