.rounded-carousel {
  width: 375px;
  height: 375px;
  border-radius: 25px;
  background-color: #f8f9fa; /* Светлый фон */
  overflow: hidden; /* Скрываем переполнение */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
  margin: 20px; /* Центрирование карусели */
}

.carousel-item-custom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  text-align: center; /* Центрирование текста */
}

.carousel-title {
  font-size: 1.5rem;
  margin-top: 10px;
}

.divider {
  width: 100%;
  border-top: 1px solid #000;
  margin: 10px 0;
}

.carousel-content p {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Стили для черных кнопок управления */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(255, 70, 70);
  border-radius: 50%;
  width: 15px;
  height: 30px;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(145, 145, 145) !important;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
  filter: brightness(0.8); /* Легкое осветление при наведении */
}
