.block{
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    z-index:2;
    margin-top: 30px;
    align-self: center;
    font-size: 26px;
    border-radius: 15px;
    border: 0.5px solid black;
    background-color: #f5163b;
    width: 150px;
    height: 50px;
    color: #f5edef;
}