/* Основной контейнер для фильтров */
.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid #ced4da;
  position: fixed;
  gap: 10px;
  top: 10%; left: 0%;
  width: 270px; height: 100%;
  z-index: 1;
}

/* Контейнер для строки с поиском и выпадающим списком */
.searchCategoryRow {
  display: flex;
  width: 100%;
  gap: 15px;
}

.searchInput {
  width: 250px; height: 40px;
  padding: 8px 12px;
  color: black;
  font-size: 1rem;
  flex: 0 0 250px !important;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.searchInput:focus {
  border-color: #495057;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.25);
  outline: none;
}

.selectInput {
  width: 250px; height: 40px;
  padding: 8px 12px;
  color: black;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: white;
  transition: all 0.3s ease;
}
  
.selectInput:focus {
  border-color: #495057;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.25);
  outline: none;
}
.separator-line {
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin: 20px auto;
}

/* Контейнер для тегов */
.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .searchCategoryRow {
    flex-direction: column; /* Переводим в колонку на мобильных */
  }

  .selectInput {
    width: 100%;
  }
}

.clear {
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #ff6272;
  border: 1px solid #ced4da;
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.tag {
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 6px;
  background-color: #ffffff !important;
  border: 1px solid #ced4da;
  color: #343A40;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: solid;
}

.tag:hover{
  color: #343A40;
}

.activeTag:hover{
  color: white;
}

.activeTag {
  background-color: #343A40 !important;
  color: white;
  border-color: #343A40;
}